<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hra</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        h1 {
            margin-bottom: 120px;
            font-size: 30px;
        }
        .container {
            margin-bottom: 60px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;
            max-width: 100%;
            overflow: hidden;
        }
        .button {
            padding: 20px 40px;
            font-size: 22px;
        }
    </style>
</head>
<body>
    <h1>{{flavourtext2}}</h1>
    <div class="container">
        <img src="" alt="Gif 1" class="gif">
        <img src="" alt="Gif 2" class="gif">
        <img src="" alt="Gif 3" class="gif">
        <img src="" alt="Gif 4" class="gif">
    </div>
    <button onclick="location.href ='/game1/results'" class="button">Stop</button>
</body>
</html>

