<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pravidla</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1><u>Pravidla</u></h1>
    <div class="text-block"><p>Rollujte stisknutím tlačítka "next"</p><br>
                            <p>Při každém ukončení hry tlačítkem "back" se dosažené body uloží pod vámi zvoleným jménem to tabulky</p><br>
                            <p>Výhra jsou čtyři A v jednom rollu</p><br>
                            <p>Prostě <b>Točka</b></p><br>
                        </div>
    <button class="button" onclick="location.href='/game/Game2'">Play</button>
</body>
</html> 