<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pravidla</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1><u>Pravidla</u></h1>
    <h2><i>Rychlá hra, sndaná výhra</i></h2>
    <div class="text-block"><p>Rollujte stisknutím tlačítka "next"</p><br>
                            <p>Každý roll má svou bodovou hodnotu, některé dávají, některé berou</p><br>
                            <p>Čím více bodů tím je výhra snažší</p><br>
                            <p>Výhra jsou čtyři A v jednom rollu</p><br>
                            <p>Při ukončení hry tlačítkem "back" nebo výhře se dosažené body uloží pod vámi zvoleným jménem do tabulky</p><br>
                            <p>Hrajte pro místo v žebříčku výtězů!</p><br>
                            <p></p><br>
                        </div>
    <button class="button" onclick="location.href='/game/Game1'">Play</button>
</body>
</html> 