<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pravidla</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1><u>Pravidla</u></h1>
    <div class="text-block"><p>Rollujte stisknutím tlačítka "next"</p><br>
                            <p>Každý roll má svou bodovou hodnotu, některé dávají, <i>některé</i> berou</p>
                            <p>Čím více bodů tím je výhra snažší<b>(Ze začátku)</b></p><br>
                            <p>Ve hře se objevují <i>s p e c i á l n í</i> karty</p><br>
                            <p>Při každém ukončení hry tlačítkem "back" se dosažené body uloží pod vámi zvoleným jménem to tabulky</p><br>
                            <p>Výhra jsou čtyři A v jednom rollu</p><br>
                            <p>Hodně ŠTĚSTÍ</p><br>
                            <p>Nebo taky ne :></p><br>
                            <p>PS: HAHAHAHAHAHAHAHAHAHA</p><br>
                        </div>
    <button class="button" onclick="location.href='/game3/running'">Play</button>
</body>
</html> 