<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabulka</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<style>
    th {
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
    color: #000000;
    animation: fadeInSlide 1.5s ease-in-out;
    text-shadow: 3vh 3vh 8vh rgba(0, 0, 0, 0.5);
    }
</style>
<table>
    <tr>
        <th>Jméno</th>
        <th>Body</th>
        <th>rolly</th>
    </tr>
    {{ board | safe }}
</table>

</body>