<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DefNotGamba</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Las Gambas</h1>  
  
    <div class="container">
    <a onclick="location.href='/game1/rules'" class="button left">Easy</a>
    <a onclick="location.href='/game2/rules'" class="button center">Classic</a>
    <a onclick="location.href='/game3/rules'" class="button right" onmouseover="playSound()">Dark souls</a>
  </div>

  <audio id="DS3" src="{{ url_for('static', filename='DS3.mp3') }}" preload="auto"></audio>

  <script>
    function playSound() {
      const sound = document.getElementById('DS3');
      sound.currentTime = 0; 
      sound.play();
    }
  </script>
  
</body>
</html>