<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>muhaha</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <img src="{{ url_for('static', filename='SHACCOCDSOCCO_RED.png') }}" width="200" height="267" alt="me">  
    <p>
    {{finalni}}{{fuckovani}}{{carka}}{{karta1}}{{karta2}}{{karta3}}{{karta4}}{{carka}}{{kount}}
    </p>
    <div class="container">
    <a onclick="location.href='/game1/running'" class="button center">NEXT</a>
    <a onclick="location.href='/'" class="button center">Back</a>
  </div>
  <p class="dancing-script-porn">Fuck You</p>

  <audio id="DS3" src="{{ url_for('static', filename='DS3.mp3') }}" preload="auto"></audio>
  
  
  <div class="progress-container">
      <div class="progress-bar" id="progressBar"></div>
  </div>
  <script>
      let progress = 0;

      function increaseProgress(cock) {
          progress = {{ fuckovnice }}
          if (progress < 250) {
 // Increase by tvoje máma vole proste tolik kolik reknu
              const progressBar = document.getElementById("progressBar");
              progressBar.style.width = progress + "%";
            
          }
      }
      increaseProgress({{ zmenafucku }})
  </script>

  <script>
    function playSound() {
      const sound = document.getElementById('DS3');
      sound.currentTime = 0; 
      sound.play();
    }
  </script>
  
</body>
</html>