<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
        }
        button{
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }
    </style>   
</head>
<body>
    <div>
        <button id="Start" onclick="location.href='/game'">{{buton}}</button>
        </div>
</body>
let ROLLRES = document.getElementById("rollbuttonRES");
let datos;

ROLLRES.addEventListener("click", function () {
    fetch("/game3/results")
    .then((response) => {
        if (!response.ok) {
            throw new Error(`HTTP error, status = ${response.status}`);
        }
        return response.json();
        })
    .then((data) => {
        console.log(data);
        isSlideshowActive == false
        console.log("Type of data.karta:", typeof data.karta1);
        console.log("Value of data.karta:", data.karta1);
        let datosbrokovnice = data["nerozumim"]
        
        // carto prevodno
        let cleanK1 = JSON.stringify(data.karta1);
        let cleanK2 = JSON.stringify(data.karta2);
        let cleanK3 = JSON.stringify(data.karta3);
        let cleanK4 = JSON.stringify(data.karta4);
        console.log(cleanK1)
        let cleanerK1 = cleanK1.replace("\"","");
        cleanerK1 = cleanerK1.replace("\"","");
        let cleanerK2 = cleanK2.replace("\"","");
        cleanerK2 = cleanerK2.replace("\"","");
        let cleanerK3 = cleanK3.replace("\"","");
        cleanerK3 = cleanerK3.replace("\"","");
        let cleanerK4 = cleanK4.replace("\"","");
        cleanerK4 = cleanerK4.replace("\"","");

        //datos = data;
        document.getElementById("flavour").innerHTML = data.flavour;
        document.getElementById("finalni").innerHTML = data.finalni;
        document.getElementById("kount").innerHTML = data.kount;
        //document.getElementById("progressBar").innerHTML = data.progreso
        document.getElementById("K1").src = "{{ url_for('static', filename='') }}" + cleanerK1;
        document.getElementById("K2").src = "{{ url_for('static', filename='') }}" + cleanerK2;
        document.getElementById("K3").src = "{{ url_for('static', filename='') }}" + cleanerK3;
        document.getElementById("K4").src = "{{ url_for('static', filename='') }}" + cleanerK4;
        updateProgress(data.progreso)
        
    })}); 
    //RES 

    function changeImages(activity) {
        if (activity){
            fetch("/game3/running")
            .then((response) => {
            if (!response.ok) {
                throw new Error(`HTTP error, status = ${response.status}`);
            }
            return response.json();
            })
        .then((data) => {
            console.log(data);
            console.log("true")
        function slideshow(){
            images_1 = data.balák1;
            images_2 = data.balák2;
            images_3 = data.balák3;
            images_4 = data.balák4;
        
        index_1 = (index_1 + 1) % images_1.length;
        index_2 = (index_2 + 1) % images_2.length;
        index_3 = (index_3 + 1) % images_3.length;
        index_4 = (index_4 + 1) % images_4.length;
    
        document.querySelectorAll(".gif")[0].src = images_1[index_1];
        document.querySelectorAll(".gif")[1].src = images_2[index_2];
        document.querySelectorAll(".gif")[2].src = images_3[index_3];
        document.querySelectorAll(".gif")[3].src = images_4[index_4];
        }
        setInterval(slideshow, 100)})}
        else {
            fetch("/game3/results")
        .then((response) => {
            if (!response.ok) {
                throw new Error(`HTTP error, status = ${response.status}`);
            }
            return response.json();
            })
        .then((data) => {
            console.log(data);
            console.log("flase")
            console.log("Type of data.karta:", typeof data.karta1);
            console.log("Value of data.karta:", data.karta1);
            let datosbrokovnice = data["nerozumim"]
            clearInterval(slideshow, null)
            
            // carto prevodno
            let cleanK1 = JSON.stringify(data.karta1);
            let cleanK2 = JSON.stringify(data.karta2);
            let cleanK3 = JSON.stringify(data.karta3);
            let cleanK4 = JSON.stringify(data.karta4);
            console.log(cleanK1)
            let cleanerK1 = cleanK1.replace("\"","");
            cleanerK1 = cleanerK1.replace("\"","");
            let cleanerK2 = cleanK2.replace("\"","");
            cleanerK2 = cleanerK2.replace("\"","");
            let cleanerK3 = cleanK3.replace("\"","");
            cleanerK3 = cleanerK3.replace("\"","");
            let cleanerK4 = cleanK4.replace("\"","");
            cleanerK4 = cleanerK4.replace("\"","");

            //datos = data;
            document.getElementById("flavour").innerHTML = data.flavour;
            document.getElementById("finalni").innerHTML = data.finalni;
            document.getElementById("kount").innerHTML = data.kount;
            //document.getElementById("progressBar").innerHTML = data.progreso
            document.getElementById("K1").src = "{{ url_for('static', filename='') }}" + cleanerK1;
            document.getElementById("K2").src = "{{ url_for('static', filename='') }}" + cleanerK2;
            document.getElementById("K3").src = "{{ url_for('static', filename='') }}" + cleanerK3;
            document.getElementById("K4").src = "{{ url_for('static', filename='') }}" + cleanerK4;
            updateProgress(data.progreso)
            
        })}
    }; 
    

</html>