<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DefNotGamba</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles-twist.css') }}">
  <style>
    @media screen and (max-aspect-ratio: 9/16) {
      body * {
        display: none !important;
      }
      body::before {
        content: "Otočte své zařízení na šířku";
        display: block;
        text-align: center;
        font-size: 20px;
        color: red;
        margin-top: 50vh;
      }
    }
    </style>
</head>
<body>
  <div class="containerR" style="display: flex; justify-content: center;">
    <div class="game-block">
      <a onclick="location.href='/twist/signin'" class="button">sign-in</a>
    </div>
    <div class="game-block">
      <a onclick="location.href='/twist/login'" class="button">log-in</a>
    </div>
  </div>
</html>