<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DefNotGamba</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles-twist.css') }}">
  <style>
    @media screen and (max-aspect-ratio: 9/16) {
      body * {
        display: none !important;
      }
      body::before {
        content: "Otočte své zařízení na šířku";
        display: block;
        text-align: center;
        font-size: 20px;
        color: red;
        margin-top: 50vh;
      }
    }
    </style>
</head>
<body>
    <p style="position: absolute;left: 10dvh;" id="deckname"></p>
    <p style="position: absolute;left: 10dvh; visibility: hidden;" id="decknumber"></p><!--prozatimne-->
    <div class="container-deck">
        <img src="" alt="enterdatahere" class="gif" id="slot1" onclick="editdeckslot('slot1')">
        <img src="" alt="enterdatahere" class="gif" id="slot2" onclick="editdeckslot('slot2')">
        <img src="" alt="enterdatahere" class="gif" id="slot3" onclick="editdeckslot('slot3')">
        <img src="" alt="enterdatahere" class="gif" id="slot4" onclick="editdeckslot('slot4')">
        <img src="" alt="enterdatahere" class="gif" id="slotA" onclick="editdeckslot('slotA')">
    </div>
    <div class="Bcontainer">
    <button class="button" onclick="showDeck('deck1')">1</button>
    <button calss="button" onclick="showDeck('deck2')">2</button>
    <button calss="button" onclick="showDeck('deck3')">3</button>
    <button calss="button" onclick="showDeck('deck4')">4</button>
    <button calss="button" onclick="showDeck('deck5')">5</button>
    </div>

    <button class="button" style="position: absolute;right: 10dvh;" onclick="setdeck()"></button><!--prozatimne-->
    
    <script src="{{ url_for('static', filename='twist/javas.js') }}"></script>
    <script>
        async function setdeck() {
            const s1 = document.getElementById("slot1").alt
            const s2 = document.getElementById("slot2").alt
            const s3 = document.getElementById("slot3").alt
            const s4 = document.getElementById("slot4").alt
            const sA = document.getElementById("slotA").alt
            const deck = document.getElementById("decknumber").textContent


            try {
            const response = await fetch("/twist/fet/pregame", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body:JSON.stringify({ 
                    "deckNo":deck,
                    "slot1":s1,
                    "slot2":s2,
                    "slot3":s3,
                    "slot4":s4,
                    "slotA":sA,

                })
            });
            if (!response.ok) {
                throw new Error(`HTTP error: ${response.status}`);
            }
            const result = await response.text();
            if (result === "ok") {
                window.location.href = "/twist/twist_game";
            } else {
                alert(result);
            }
        } catch (error) {
            console.error("Fetch error:", error);
        }
        }
        async function loadup(deck) {
            await deckshow()
            showDeck(deck)
        }
        window.addEventListener('load', () => loadup("{{ deckNo }}"))
    </script>
</body>