<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>muhaha</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='chechboard.png') }}" width="200" height="267" alt="me">  
  
    <div class="container">
    <a onclick="location.href='/game1/running'" class="button center">PLAY</a>
  </div>

  <audio id="DS3" src="{{ url_for('static', filename='DS3.mp3') }}" preload="auto"></audio>

  <script>
    function playSound() {
      const sound = document.getElementById('DS3');
      sound.currentTime = 0; 
      sound.play();
    }
  </script>
  
</body>
</html>